# Sensitive Data
google-services.json

# Build Folders
/build/
*/build/

# Local Configuration Files
local.properties

# IntelliJ/Android Studio
*.iml
.idea/
*.hprof

# OS-Specific Files
.DS_Store
Thumbs.db

# Gradle
.gradle/
build/

# Logs
*.log

# Generated binary files
*.apk
*.aar

